@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    width: 1200px;
    margin: auto;
    font-family:'Open Sans';
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 30px;
}
.question{
    background-color: #33836e;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.phone{
    font-weight: bold;
    display: black;
}


.menu{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;

}
.search{
    width: 427px;
    border: none;
    font-size: 16px;
    background-color: #2F2B430A;
    border-radius: 10px;
    padding: 10px;
}
.info{
    display: grid;
    color: gray;
}
.bell{
    box-sizing: border-box;
    padding: 10px 20px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 10px;
}

.bell{
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #140A32;
text-decoration: none;
}
.tg{
box-sizing: border-box;
align-items: center;
padding: 10px 20px;
border: 1px solid rgba(47, 43, 67, 0.15);
border-radius: 10px;

}
a{
color: #140A32;
text-decoration: none;
}
.main {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;
position: absolute;
}
.text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 207px;
    height: 22px;
    left: 150px;
    top: 206px;
    color: gray ;
}
.blo{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 30px;
}
.nuumber{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 5px;

}
.title{
    display: flex;
}
.block {
    display: block;
}
.titlee{
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
}
.title_text{
    left: 150px;
    top: 396px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.question_blo{
    display: flex;
    padding: 16px 36px ;
    color: white;
    background: #33836E;
    border-radius: 10px;
    display: block;
    border: none;
}
.foto{
    display: flex;
}
.phonee{
    font-weight: bold;
color: #33836E;
border-bottom: 2px solid #33836E;
font-weight: 700;
font-size: 24px;
line-height: 33px;

}
.infoo{
    display: grid;
    color: gray;
}


.container_title{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
    left: 150px;
}



.text_title{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}
.textt_title{
    font-weight: 400;
    font-size: 16px;
}
.kak_title {
    margin-top: 80px;
}


.container_info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: 1140px;
    height: 180px;
    top: 115px;
}
.container_info_text{
    padding: 20px;
    gap: 15px;
    width: 250px;
    height: 120px;
    border: 1px solid 
    rgba(47, 43, 67, 0.15);
    border-radius: 20px;
}
.text_info_text{
    color: #33836E;
    font-weight: middle;
}
.info{
    color: black;
}
.wom{
width: 1140px;
height: 200px;
left: 150px;
top: 1383px;
background: #33836E;
border-radius: 20px;
display: flex;
align-items: center;
}
.kont {
align-items: flex-start;
gap: 10px;
padding-right: 116px;
}
.work {
font-size: 24px;
color: #FFFFFF;
font-weight: 600;
}
.phon {
font-size: 42px;
color: #FFFFFF;
display: block;
font-weight: 700;
}
.peopl {
align-items: flex-start;
gap: 20px;
display: block;
}
.circle {
font-size: 18px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-weight: 600;
}
.kyb {
gap: 20px;
display: block;

}
.opa{
    display: flex;
    padding-bottom: 20px;
    gap: 20px;
}
.apo{
    display: flex;
    gap: 20px;
}
.container_kyb1 {
align-items: center;
padding: 30px;
border: 1px solid rgba(47, 43, 67, 0.15);
border-radius: 20px;
width: 560px;
box-sizing: border-box;
}
.container_kyb2 {
align-items: center;
padding: 30px;
border: 1px solid rgba(47, 43, 67, 0.15);
border-radius: 20px;
width: 560px;
box-sizing: border-box;
}.container_kyb3 {
align-items: center;
padding: 30px;
border: 1px solid rgba(47, 43, 67, 0.15);
border-radius: 20px;
width: 560px;
box-sizing: border-box;
}.container_kyb4 {
align-items: center;
padding: 30px;
border: 1px solid rgba(47, 43, 67, 0.15);
border-radius: 20px;
width: 560px;
box-sizing: border-box;
}

.lalala {
    display: flex;
    gap: 40px;
    padding-top: 30px;
}
.lala{
    display: flex;
}
.li{
display: flex;
gap: 40px;
}
.pomoq{
    display: block;
}
.al {
display: flex;
flex-direction: column;
justify-content: center;
gap: 10px;
}
.la {
font-weight: 700;
font-size: 28px;
color: #33836E;
margin: 0;
}
.pom{
    display: flex;
}
.g{
 display: flex;
 flex-direction: column;   
}
.lak{
font-weight: 400;
font-size: 16px;
color: #140A32;
margin: 0;
}


.wow {
width: 1140px;
height: 200px;
top: 385px;
background: #33836E;
border-radius: 20px;
display: flex;
gap: 226px;
}
.rep {
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 60px;
}
.park {
font-weight: 600;
font-size: 24px;
line-height: 33px;
color: #FFFFFF;

}
.et {
font-size: 42px;
line-height: 57px;
color: #FFFFFF;
font-weight: 700;

}

.era {
    flex-direction: column;
    display: flex;
    justify-content: center;

}
.ua {
font-weight: 700;
font-size: 18px;
color: #FFFFFF;
margin: 0;

}
.knop {
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 16px;
gap: 3px;
width: 249px;
height: 56px;
background: #FFFFFF;
border-radius: 10px;
}
.iii {
font-weight: 400;
font-size: 12px;
display: flex;
align-items: center;
text-align: center;
color: rgba(47, 43, 67, 0.4);
margin: 0;
}
.aaa {
font-size: 16px;
line-height: 22px;
color: #140A32;
margin: 0;
}
.kakashka {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
width: 207px;
height: 56px;
border: 1px solid #FFFFFF;
border-radius: 10px;
}
.kaki {
    font-weight: 600;
font-size: 16px;
display: flex;
color: #FFFFFF;
margin: 0;
}
.empti {
    padding-top: 22px;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: rgba(255, 255, 255, 0.5);
margin: 0;
}
.eshka {
    display: flex;
    gap: 15px;
    margin-top: 16px;
}
.ai {
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 0px;
gap: 20px;
}
.aai{
    display: flex;
}
.kvadr {
display: flex;
gap: 20px;
padding-bottom: 20px;
}
.con_kyb1 {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
width: 560px;
height: 287px;
border: 1px solid rgba(47, 43, 67, 0.15);
border-radius: 20px;
}
.con_kyb2 {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
width: 560px;
height: 287px;
border: 1px solid rgba(47, 43, 67, 0.15);
border-radius: 20px;
}
.con_kyb3 {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
width: 560px;
height: 287px;
border: 1px solid rgba(47, 43, 67, 0.15);
border-radius: 20px;
}
.con_kyb4 {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
width: 560px;
height: 287px;
border: 1px solid rgba(47, 43, 67, 0.15);
border-radius: 20px;
}
.con_kyb5 {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
width: 560px;
height: 287px;
border: 1px solid rgba(47, 43, 67, 0.15);
border-radius: 20px;
}
.con_kyb6 {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
width: 560px;
height: 287px;
border: 1px solid rgba(47, 43, 67, 0.15);
border-radius: 20px;
}
.con_kyb7 {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
width: 560px;
height: 287px;
border: 1px solid rgba(47, 43, 67, 0.15);
border-radius: 20px;
}
.con_kyb8 {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
width: 560px;
height: 287px;
border: 1px solid rgba(47, 43, 67, 0.15);
border-radius: 20px;
}
.at {
font-weight: 600;
font-size: 16px;
color: #140A32;

border-bottom: 2px solid #33836E;
}
.ta {
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: rgba(47, 43, 67, 0.7);
}
.kvadr2{
display: flex;
gap: 20px;
padding-bottom: 20px;
}
.kvadr3{
display: flex;
gap: 20px;
padding-bottom: 20px;
}
.kvadr4{
display: flex;
gap: 20px;
padding-bottom: 20px;
}
